version 5.207.0
source https://api.nuget.org/v3/index.json
source https://ci.appveyor.com/nuget/bolero
source https://ci.appveyor.com/nuget/bolero-fsharp-data
source https://daily.websharper.com/nuget # Bolero.FSharp.Compiler.Service is published here
storage: none
framework: netstandard2.0, netcoreapp3.0

nuget Bolero prerelease
nuget Bolero.HotReload prerelease
nuget Bolero.Server prerelease
nuget Bolero.FSharp.Compiler.Service
nuget FSharp.Core ~> 4.5.0
nuget Microsoft.AspNetCore.Blazor.Build prerelease
nuget Microsoft.AspNetCore.Blazor.Server prerelease
nuget Bolero.FSharp.Data >= 3.0 prerelease
nuget BuildWebCompiler