#main {
  display: flex;
  flex-direction: column;
}

html, body, #main {
  height: 100%;
  overflow: hidden;
}

.loading-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-wrapper > img {
  margin-bottom: 1rem;
}

.loading-wrapper .loader {
  display: inline-block;
  border-color: #4a4a4a #4a4a4a transparent transparent;
  margin-right: 0.5rem;
}

#main > section {
  flex: 1;
  background: #ddd;
  max-height: calc(100% - 3.25rem); /* 100% - header height; fixes #2 */
}

.split-h {
  display: flex;
  flex-direction: row;
}

.split-v {
  display: flex;
  flex-direction: column;
}

.panel-header {
  flex: 0;
  margin: 0;
  padding: 0 0.5rem 0.2rem;
  font-weight: bold;
  font-size: 1.1rem;
}

#messages-panel, #stdout-panel {
  display: flex;
  flex-direction: column;
}

#editor, #messages, #stdout {
  flex: 1;
  background: white;
  font-family: 'Roboto Mono', monospace;
  border: 0;
  font-size: 1rem;
  padding: 0.5em;
  overflow: auto;
}

pre {
  font-family: 'Roboto Mono', monospace;
}

.gutter-horizontal {
  cursor: col-resize;
}

.gutter-vertical {
  cursor: row-resize;
}

#stdout {
  white-space: pre-wrap;
}

.stderr {
  color: #e0420a;
}

#editor:focus {
  outline: none;
}

.compiler-message {
  padding: 0 5px;
  white-space: pre-wrap;
  font-family: monospace;
}

a.compiler-message-link {
  color: inherit!important;
}

.compiler-message.Error {
  background: #ff8c62;
}

a.compiler-message-link .compiler-message.Error:hover {
  background: #e47f5b;
}

.compiler-message.Warning {
  background: goldenrod;
}

a.compiler-message-link .compiler-message.Warning:hover {
  background: #c39520;
}

.marker-error {
  background: rgba(255, 140, 98, 0.1);
  border: solid 1px #ff8c62;
  position: absolute;
}

.marker-warning {
  background: rgba(218, 165, 32, 0.1);
  border: solid 1px goldenrod;
  position: absolute;
}

/* Ace completion */
.ace_autocomplete .ace_text-layer {
  width: 100%;
}

.ace_autocomplete .ace_completion-meta {
  margin-top: 0;
  float: right;
}

.ace_tooltip pre {
  padding: 0;
  background: transparent;
}
