#main {
    display: flex;
    flex-direction: column;
}

html, body, #main {
    height: 100%;
    overflow: hidden;
}

#main > section {
    flex: 1;
    background: #ddd;
}

.split-h {
    display: flex;
    flex-direction: row;
    margin-right: -5px;
}

.split-h > * {
    flex: 1;
    margin-right: 5px;
}

.split-v {
    display: flex;
    flex-direction: column;
    margin-bottom: -5px;
}

.split-v > * {
    flex: 1;
    margin-bottom: 5px;
}

#editor, #messages, #stdout {
    background: white;
    font-family: 'Roboto Mono', monospace;
    border: 0;
    font-size: 1rem;
    padding: 0.5em;
    overflow: auto;
}

#stdout {
    white-space: pre-wrap;
}

.stderr {
    color: #e0420a;
}

#editor:focus {
    outline: none;
}
 
.compiler-message {
    padding: 0 5px;
    white-space: pre-wrap;
    font-family: monospace;
}

a.compiler-message-link {
    color: inherit!important;
}

.compiler-message.Error {
    background: #ff8c62;
}

a.compiler-message-link .compiler-message.Error:hover {
    background: #e47f5b;
}

.compiler-message.Warning {
    background: goldenrod;
}

a.compiler-message-link .compiler-message.Warning:hover {
    background: #c39520;
}
